bin/
tmp/
*.log
.env

# local backups
*.bak
*.bak[0-9]
*.bak[0-9][0-9]
*.dupfix

# editor backups and result files
*~
res/editing_result_*
res/*.png~
*.bak_before_split
*.bak_before_energy
*.bak_*

# Бинарники сборки в корне
/client
/server
/lodeen-client
/lodeen-server
*.bak_*
*.bak
*.bak_*
*.bak
deploy/ansible/inventory/hosts.ini
*.bak*
*.dupfix
assets_from_phone/
*.bak
*.bak_*
